body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
}

nav {
    background-color: #2a2a2a;
    padding: 0.5rem;
    color: #f2f2f2;
    font-size: 1.2rem;
}


ul {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

li {
    list-style: none;
    cursor: pointer;
    position: relative;
    width: 120px;
    display: flex;
    justify-content: center;
}

ul.hidden {
    display: none;
}

.drop-down-opts {
    font-size: 1rem;
    position: absolute;
    top: 50.5px;
    display: flex;
    flex-direction: column;
    background-color: #7f7f7f;
    gap: 0;
}

.drop-down-opts > li {
    border-bottom: 1px solid #f2f2f2;
    padding: 0.5rem 0;
}

.image-slider {
    margin-top: 1rem;
    display: flex;
    align-content: flex-end;
    justify-content: center;
}

li:hover {
    font-weight: 700;
    text-decoration: underline 1px orange;
}

.image-container.selected {
    display: block;
}

.image-container {
    display: none;
}

.image-container > img {
    max-width: 600px;
    max-height: 400px;
    object-fit: cover;
}

.location-and-movement, .positional-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.location-and-movement {
    margin-top: 1rem;
}